* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

body {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

/* image styling */
img {
  width: 500px;
  height: auto;
}

div .portrait img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}


/* Text Styling */
.bold-text {
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background: none;
}

.sans-serif {
  text-transform: none;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  background: none;
}

span {
  background: none;
}

.background-image {
  z-index: -1;
  background-image: url(https://images.pexels.com/photos/7130548/pexels-photo-7130548.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  opacity: 1;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

/* Hamburger Styles */
/* End of Haburger */

/* Page Frame */
header {
  display: flex;
}

.container-top {
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;
  /* margin: 20px; */
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 28px 0;
  justify-content: space-between;
}


nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}


.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background: none;
}

.container-hero {
  display: flex;
  justify-content: center;
  background: none;
  border-bottom: 1px solid rgb(0, 0, 0);

}

h1 {
  font-size: 96px;
  margin-top: 0;
  line-height: 10vh;

}

.push-left {
  text-align: center;
}

.push-right {
  text-align: right;
}

.container-main {
  display: flex;
  flex: 1;
  background: none;
}

.container-left,
.container-right {
  flex: 1;
  padding: 10px;
  background: none;
  /* border: 1px solid rgb(0, 0, 0); */

}

.container-left {
  /* margin: 20px; */

}

.greeting {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.mailing-list {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.container-right {
  /* margin: 20px; */
  /* border-bottom: 1px solid rgb(0, 0, 0); */

}

.box-r-1 {
  border-bottom: 1px solid rgb(0, 0, 0);

}



.box-r-2 {
  border-bottom: 1px solid rgb(0, 0, 0);

}

.box-r-3 {}

.bottom {
  display: inline-block;
  background: none;
}

.container-bottom {
  background: none;
  flex-direction: row;
  flex: 1;
  text-align: center;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

/* Form Styling */
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid rgb(0, 0, 0);
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Background color */
  background: transparent;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}

textarea {
  background: transparent;
  border: none;
  outline: none;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact {
  background: transparent;
  padding: 20px;
}

#contact {
  background-color: transparent;
}


/* Card Carousel */


footer {
  position: fixed;
  display: block;
  margin: 10px;
}