* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: rgb(174, 238, 190);
  background: radial-gradient(circle, rgba(174, 238, 190, 1) 0%, rgba(148, 224, 233, 1) 100%);
  color: rgb(0, 0, 0);
  box-sizing: border-box;
}

/* Text Styling */
.bold-text {
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder 500;
  background: none;
}

.sans-serif {
  text-transform: none;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bolder 400;
  background: none;
}

nav {
  padding: 28px 0;
  background: none;
}

span {
  background: none;
}

/* Hamburger Styles */
/* End of Haburger */

/* Page Frame */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: none;
}

.container-main {
  display: flex;
  flex: 1;
  background: none;
}

.container-hero {
  justify-content: center;
  background: none;
}

.container-left, .container-right {
  flex: 1;
  padding: 10px;
  border: 1px solid black;
  background: none;
}


.bottom {
  display: inline-block;
  background: none;
}

.container-bottom {
  background: none;
  flex-direction: row;
  flex: 1;

}